/* まず、style.cssにこのルールを書き入れてください。 */
*{
margin: 0;
padding: 0;
}

body {
  font-size: 100%;
}

/* ここにルールを足していきましょう。*/

header{
  font-size: 24pt;
  text-align: center;
  border-bottom: 1px solid #333;
}

#top{
  color: green;
  font-family: serif;
}

#opa{
  opacity: 0.1;
}

#rules{
  text-align: left;
}

#rulesBackButton{
  font-size: 2vw;
  position: absolute; 
  width: 10%;
  height: 10%;
  top: 0%;
  left: 90%;
}

#moveRulesButton{
  font-size: 1.5vw;
  position: absolute; 
  width: 10%;
  height: 8%;
  top: 0%;
  left: 90%;
}

#calculation{
  color: red;
  font-family: serif;
}


.button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  width: 24em;
  height: 2em;
  font-size: 24pt;
  font-family: serif;
  cursor: pointer;
}

.container{
  width: 100%;
  padding: 1em 0;
  font-size: 48pt;
  text-align: center;
}

#backButton{
  position: absolute; 
  width: 25%;
  height: 10%;
  font-size: 24pt;
  top: 80%;
  left: 50%;
}

#startButton{
  position: absolute; 
  width: 25%;
  height: 10%;
  font-size: 24pt;
  top: 80%;
  left: 20%;
  /* visibility: hidden; */
}

#retryButton{
  position: absolute; 
  width: 25%;
  height: 10%;
  font-size: 24pt;
  top: 80%;
  left: 20%;
  visibility: hidden;
}

#choiceOne{
  position: absolute; 
  width: 15%;
  height: 10%;
  font-size: 24pt;
  top: 60%;
  left: 20%;
  visibility: hidden;
}

#choiceTwo{
  position: absolute; 
  width: 15%;
  height: 10%;
  font-size: 24pt;
  top: 60%;
  left: 40%;
  visibility: hidden;
}

#choiceThree{
  position: absolute; 
  width: 15%;
  height: 10%;
  font-size: 24pt;
  top: 60%;
  left: 60%;
  visibility: hidden;
}

#comment{
  font-size: 3vw;
  position: absolute;
  top: 15%;
  left: 22%;
  width: 55%;
  height: 40%;
  text-align: center;
  /* visibility: hidden; */
}

#numberX{
  font-size: 4vw;
  position: absolute;
  top: 30%;
  left: 35%;
  width: 10%;
  text-align: center;
  visibility: hidden;
}

#arithmetic{
  font-size: 4vw;
  position: absolute;
  top: 30%;
  left: 45%;
  width: 10%;
  text-align: center;
  visibility: hidden;
}

#numberY{
  font-size: 4vw;
  position: absolute;
  top: 30%;
  left: 55%;
  width: 10%;
  text-align: center;
  visibility: hidden;
}

#timemessage{
  font-size: 3vw;
  position: absolute;
  top: 14%;
  left: 85%;
  visibility: hidden;
}

#timercount{
  font-size: 3vw;
  position: absolute;
  top: 20%;
  left: 85%;
  width: 12%;
  text-align: center;
  visibility: hidden;
}

#result{
  position: absolute;
  top: 35%;
  left: 75%;
}

table, td, th{
  table-layout: auto;
  text-align: center;
  border: 2px #808080 solid;
  /* visibility: hidden; */
}

select{
  font-size: 2vw;
  position: absolute;
  top: 55%;
  left: 40%;
  width: 15%;
  height: 5%;
}
